* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #151515;
}

.contact-form {
    background: #f8fafc;
    padding: 30px;
    border-radius: 15px;
}

.error {
    color: red;
    font-size: 13px;
}

.success-msg {
    color: green;
    font-weight: 500;
    text-align: center;
}