* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    background: #f0f4f8;
}

/* guide card */
.guide-card {
    border: none;
    border-radius: 18px;
    overflow: hidden;
    transition: 0.4s;
}

.guide-card img {
    height: 260px;
    object-fit: cover;
}

.guide-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
}

.guide-role {
    color: #0d6efd;
    font-size: 14px;
    font-weight: 600;
}

/* travel agency */
.about-images {
    display: flex;
    gap: 15px;
}

.about-images img {
    width: 50%;
    border-radius: 15px;
    object-fit: cover;
}

.about-list {
    list-style: none;
    padding: 0;
}

.about-list li {
    margin-bottom: 8px;
    font-weight: 500;
}